.custom-container {
  padding: 20px;
  margin: 20px auto 100px;
  border: 0.5px solid #B9FD50; /* Lighter green border */
  border-radius: 3px;
  background-color: #222;
  box-shadow: 0 0 3px 3px rgba(212, 251, 178, 0.2); /* Adjusted box shadow for a lighter green */
  overflow: hidden; /* Ensure the content stays within the borders */
}

.custom-container-title {
  margin-bottom: 10px;
  font-size: 50px;
  color: white;
  font-family: 'Outfit', sans-serif;
  font-weight: 600; /* Semi-bold */
  letter-spacing: 0.23em; /* 1% letter spacing */
}

.custom-container-content {
  
  background-color: #222222;
  border-radius: 4px;
  color: #d9d5d5;
  font-family: 'Outfit', sans-serif;
  font-weight: 600; /* Semi-bold */
  letter-spacing: 0.01em; /* 1% letter spacing */
}

.generate-button {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.generate-button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.generate-button:hover {
  background-color: #2c974b;
}

.generate-button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.generate-button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.generate-button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}